/** CSS PAGE ERROR 404 **/
#oopss {
    background: rgba(255,255,255,0.98);
    text-align: center;
    margin-bottom: 50px;
    font-weight: 400;
    font-size: 45px;
    font-family: 'Open Sans',sans-serif;
    position: fixed;
    width: 100%;
    height: 100%;
    line-height: 1.5em;
    z-index: 9999;
}
#error-text {
    top: 30%;
    position: relative;
    font-size: 40px;
    color: #aaa;
}
#error-text span {
    color: #aaa;
    font-size: 100px;
    font-weight: 700;
}
#error-text p {
    margin: 0!important;
}
#error-text a.back {
    background: #aaa;
    color: #fff;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 700;
    border: 1px solid #fdfdfd;
    line-height: normal;
    text-transform: uppercase;
    border-radius: 3px;
    -webkit-transform: scale(1);
    transform: scale(1);
    transition: all 0.5s ease-out;
}
#error-text a.back:hover {
    background: #fff;
    color: #aaa;
    border: 1px solid #bbb;
}
#error-text a.back:active {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    transform: scale(0.9);
    background: #f56954;
    color: #fff;
    border: 1px solid #ea6450;
}
@media only screen and (max-width: 640px){
#error-text a.back {
    padding: 5px 10px;
    font-size: 15px;
    }
#error-text a.back:hover, #error-text a.back:active {
    border: 0;
}
#error-text span {
    font-size: 60px;
}
}

/** FIN CSS PAGE ERROR 404 **/